<!-- IF not postrow.S_FIRST_POST and postrow.S_AUTH and postrow.S_BEST_ANSWER -->
<li>
	<!-- IF postrow.POST_ID == postrow.BESTANSWER_ID -->
	<a href="{postrow.U_UNMARK_ANSWER}" title="{L_UNMARK_ANSWER}" class="bestanswer-btn unmark">
		<i class="fa-times fa" aria-hidden="true"></i>
		<span>{L_BUTTON_UNMARK_ANSWER}</span></a>
	<!-- ELSE -->
	<a href="{postrow.U_MARK_ANSWER}" title="{L_MARK_ANSWER}" class="bestanswer-btn mark">
		<i class="fa-check fa"aria-hidden="true"></i>
		<span>{L_BUTTON_MARK_ANSWER}</span>
	</a>
	<!-- ENDIF -->
</li>
<!-- ENDIF -->
